/* variables */

:root {
  --background-pri: #CDD1D4;
  --background-sec: #959595;
  --text: #2B2B2B;
  --reflex: #1F06AC;
  /* hlavní pozadí Lightboxu */
  --yarl__container_background_color: rgba(200, 200, 200, 0.9);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-sec);
}

.container {
  padding-top: 5rem;
  padding-inline: 1rem;
  margin-right: auto;
  margin-left: auto;

}

p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.05em;
}

/* UBUNTU FONT
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/

/* WORK SANS FONT
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* Změní pozadí celé lightbox vrstvy */
.yar-lightbox__container {
  background-color: rgba(135, 118, 118, 0.9) !important;
  /* tmavě šedá s průhledností */
}

.yarl__container {
  background-color: var(--yarl__container_background_color, var(--yarl__color_backdrop, #968787));
}

.yarl__navigation_next {
  padding: var(--yarl__navigation_button_padding, 40% 20px 40% 45%) !important;
}

.yarl__navigation_prev {
  padding: var(--yarl__navigation_button_padding, 40% 45% 40% 20px) !important;
}

.yal__close-button,
.yarl__toolbar {
  position: relative;
  /* pokud už nemá */
  z-index: 1000;
  /* dostatečně vysoké číslo */
}

.yarl__button {
  color: var(--yarl__color_button, hsl(0, 0%, 20%)) !important;
  filter: var(--yarl__button_filter, drop-shadow(0 0 0 rgba(0, 0, 0, 0))) !important;
}

/*
@media (min-width: 768px) {
  .container {
  
  }

}
*/
